name: CI

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'static/**'
      - 'fonts/**'
      - 'README.md'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'static/**'
      - 'fonts/**'
      - 'README.md'
      - 'LICENSE'
  repository_dispatch:
    types: [trigger-workflow]
  schedule:
    - cron: '0 1 * * 1'

permissions:
  contents: read

concurrency:
  # Avoid different branches canceling each other (push has no PR number).
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  ci-esphome:
    name: Building ESPHome ${{ matrix.file }} / ${{ matrix.esphome-version }}
    runs-on: ubuntu-latest
    timeout-minutes: 45
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        #### Modify below here to match your project ####
        include:
          - file: projects/xiao_2_channel_wifi_ac_energy_meter/xiao_2_channel_wifi_ac_energy_meter
            esphome-version: stable
          - file: projects/seeedstudio-iot-button/seeedstudio-iot-button
            esphome-version: stable
          - file: projects/seeedstudio-iot-button/seeedstudio-iot-button-v2
            esphome-version: stable
          - file: projects/xiao-soil-moisture-monitor/xiao-soil-moisture-monitor
            esphome-version: stable
          - file: projects/xiao_24ghz_mmwave/xiao_24ghz_mmwave
            esphome-version: stable
          - file: projects/xiao-w5500-ethernet-adapter/xiao-w5500-ethernet-adapter
            esphome-version: stable
          - file: projects/seeedstudio-mr60bha2-kit/seeedstudio-mr60bha2-kit
            esphome-version: stable
          - file: projects/seeedstudio-mr60fda2-kit/seeedstudio-mr60fda2-kit
            esphome-version: stable
          - file: projects/xiao_smart_ir_mate/xiao_smart_ir_mate
            esphome-version: dev
          - file: projects/seeedstudio-2-channel-relay/seeedstudio-2-channel-relay
            esphome-version: stable
          - file: projects/seeedstudio-6-channel-relay/seeedstudio-6-channel-relay
            esphome-version: stable

            

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
      - name: Cache ESPHome build dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/pip
            ~/.cache/esphome
            ~/.esphome
            ~/.platformio
          key: ${{ runner.os }}-esphome-${{ matrix.esphome-version }}-${{ hashFiles('components/**', 'common/**', 'projects/**') }}
          restore-keys: |
            ${{ runner.os }}-esphome-${{ matrix.esphome-version }}-
      - name: ESPHome ${{ matrix.esphome-version }}
        uses: esphome/build-action@v7.1.0
        with:
          yaml-file: ${{ matrix.file }}.yaml
          version: ${{ matrix.esphome-version }}

  ci-arduino:
    name: Building Zigbee Arduino ${{ matrix.variant }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - variant: IOT_BUTTON_V1
            device: Seeed_IoT_Button_Zigbee_V1
          - variant: IOT_BUTTON_V2
            device: Seeed_IoT_Button_Zigbee_V2
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v2
      - name: Cache Arduino cores and libraries
        uses: actions/cache@v5
        with:
          path: |
            ~/.arduino15
            ~/.cache/arduino
          key: ${{ runner.os }}-arduino-esp32-3.2.1-${{ hashFiles('projects/seeedstudio-iot-button/Seeed_IoT_Button_Zigbee/**') }}
          restore-keys: |
            ${{ runner.os }}-arduino-esp32-3.2.1-
      - name: Install ESP32 platform
        run: |
          arduino-cli core update-index
          arduino-cli core install esp32:esp32@3.2.1
      - name: Install libraries
        run: |
          arduino-cli lib install FastLED
      - name: Compile Zigbee Arduino
        run: |
          arduino-cli compile --fqbn esp32:esp32:esp32c6:PartitionScheme=zigbee,ZigbeeMode=ed \
            --build-property "build.extra_flags=-D${{ matrix.variant }} -DESP32 -DZIGBEE_MODE_ED -lesp_zb_api.ed -lzboss_stack.ed -lzboss_port.native" \
            projects/seeedstudio-iot-button/Seeed_IoT_Button_Zigbee/Seeed_IoT_Button_Zigbee.ino \
            --output-dir ./output/${{ matrix.device }}
